<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonfruitstudios.brokenbonez"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal">

    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.NoTitleBar">
        android:debuggable="true"
        <activity android:name=".GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--specifies minimum and maximum api-level required to run-->
        <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="23"/>
        <!--allows an application to write to external storage-->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <!--allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming-->
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
        <!--the device's touch screen is capable of tracking two or more fingers fully independently-->
        <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="true"/>
        <!--gives permission to use the phone's vibrator-->
        <uses-permission android:name="android.permission.VIBRATE"/>

    </application>
</manifest>